* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh; /* Ensure the container covers the viewport height */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 8%;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.col {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-size: 50px;
}

p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.website-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    text-align: left;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.website-card img {
    width: 100%;
    max-width: 300px; /* Set the maximum width for the thumbnail */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    margin-bottom: 10px;
}

.website-card h5 {
    margin: 10px 0;
    font-size: 24px;
}

.website-card p {
    font-size: 16px;
    line-height: 22px;
}

.website-card:hover {
    transform: translateY(-10px);
}
